/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  background-color: #191919;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  color: #08fdd8;
}

li {
  color: #fff;
}
